# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

._docs/Personal_Notes.md
._docs/old-database-schema-state-transition-matrix.md
._docs/REVISED-DEV-NEW-PROJECT-SETUP.md

dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
.vscode
.env.local

# OS specific

# Task files
# tasks.json
# tasks/ 


.cursor
.taskmaster
backend/.env
backend/.env.local
Zhe_Trash

.cursorignore

._docs/ignore
backend/Zhe_Trash

._Post-MVP-Enhancements/

Letter_to_Mark.md

._docs/prompts-to-reuse.md
._docs/Personal_Notes.md
veo3-api.json
backend/veo3-api.json